<!DOCTYPE html>
<html>
<head>
  <title>Socrada</title>
  <%= include_gon %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "ui" %>
  <%= javascript_include_tag "d3.v3" %>
  <%= javascript_include_tag "d3.v3.min" %>
  <%= javascript_include_tag "processing" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="d3.min.js"></script>
    <script type="text/javascript" src="d3.layout.min.js"></script>
    <link type="text/css" rel="stylesheet" href="neochord.css"/>
</head>
<body>
  <div id="container">
    <div id="navbar">
      <div id="login-info">
        <% if current_user %>
        Signed in as <%= current_user.name %> | <%= link_to "Sign-out", signout_path%>
        <% end %>
      </div><!-- end of #login-info-->
    </div><!-- end of #navbar-->
    <div id="maincontent">

    <%= yield %>

    </div><!-- end of #maincontent-->
  </div><!-- end of #container-->
</body>
</html>
